
@{
    Layout = "_MyLayout";
}


<div class="card" style="width:400px">
    <img class="card-img-top" src="/Images/@Model.Image" alt="Card image" style="width:100%">
    <div class="card-body">
        <h4 class="card-title">@Model.Name</h4>
        <p class="card-text">@Model.Description -- @Model.Price</p>
        <a href="#" class="btn btn-primary">See Product</a>
    </div>
</div>
