
<h1>Muhammad married Safa Soon</h1>


<div id="div">Muhammad Loves Safa</div>



@{
    int x = 5;
    int y = x + 5;
}

@if(x>y)
{
    <h2>X=@x is greater than Y=@y</h2>
}
else
{
    <h2>X=@x is less than Y=@y</h2>
}


@for(int i=0;i<10;i++)
{
    <li>@i</li>
}
@* <style>
    #div {
        background-color: aqua;
    }

</style>

<script>

    alert("Muhammad Loves Safa");
</script>


@{int num=10;}

Num=@num *@